# Say Realz Assignment EDA

Done by: Zhen Xuan, Shavonne, Kevin

Dataset from UCI Machine Learning Repository: **"Bike Sharing Dataset Data Set"**

Compilation of Dataset: *Hadi Fanaee-T*  

Source: https://archive.ics.uci.edu/ml/datasets/Bike+Sharing+Dataset (requires Login)

# Problem Statement:

The problem statement for this dataset is to predict the total number of bikes rented based on the available information. Our goal is to predict the number of bikes rented per hour based on weather and time-related features, to help bike-sharing companies improve bike availability and optimize pricing strategies.
 
This would be a regression problem, and the learning outcome would be to build a model that can accurately predict the number of bikes rented on a given day, which can help bike-sharing companies optimize their inventory and resources.

# Guiding Questions to our Problem Statement:

Given our problem statement, we will like to have some guiding question so that it can aids us in analysing and forming our hypothesis of our goal.

1. What is the distribution of the target variable (`cnt`) and how does it relate to the other features in the dataset?
2. How does the total number of bikes rented vary by hour of the day, day of the week, and month of the year?
3. How do weather-related features (such as temperature, humidity, and windspeed) affect the total number of bikes rented?
4. How do different types of holidays and working days affect the number of bikes rented?
5. Are there any patterns or trends in the usage of bikes by registered vs. casual users?
6. Can we identify any seasonality in the data? For example, do people rent more bikes in the summer compared to the winter?
7. How does the distribution of the numerical features (such as temperature, humidity, and windspeed) look like? Are there any skewed distributions? If so, how can we handle them?
8. Are there any missing values in the dataset? How can we handle them? Can we impute missing values or remove the rows with missing values?
9. Are there any outliers in the data that could affect our analysis or model? How can we handle them?
10. Can we identify any correlations or relationships between the different features? For example, does temperature have a strong correlation with the number of bikes rented?
11. How well does the model perform in predicting the number of bikes rented? What metrics can we use to evaluate the performance of our model?
12. Can we identify any features that are not useful in predicting the number of bikes rented? Can we remove them from the dataset to improve the model's performance or reduce complexity?

---

### Essential Libraries

> NumPy : Library for Numeric Computations in Python  
> Pandas : Library for Data Acquisition and Preparation  
> Matplotlib : Low-level library for Data Visualization  
> Seaborn : Higher-level library for Data Visualization

Importing the Basic Libraries

In [19]:
%matplotlib inline
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

## Notebook outline
1. Pre-processing 
2. Data Cleaning and Dropping of Data 
3. Data Renaming & Reclassification of Data Type
4. De-Normalisation 
5. Exploratory Data Analysis (EDA) 
6. Numerical variables: Uni-variate & Bi-variate analysis
7. Categorical variables: Uni-variate & Bi-variate analysis
8. Feature Engineering 
9. Feature Construction & Selection
10. Welch’s ANOVA Test 
11. Dummy Coding
12. Feature Scaling
13. Normalisation
14. Box-Cox Transformation

---

## Import the Dataset

Importing Dataset for Bike Sharing from "hour.csv"

First, we imported the dataset for Bike Sharing from “hour.csv”.

In [20]:
bike_data_hour = pd.read_csv('hour.csv')
bike_data_hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [21]:
bike_data_hour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

---- 
## 1. Dataset Pre-processing

This section will explain how and why we performed data pre-processing.\
We do so through data cleaning, data dropping, data renaming, reclassification of data type, and de-normalisation.

### 1.1. Data Cleaning

#### 1.1.1. Checking for NULL values

We begin our pre-processing by checking for any null values from the dataset. Cleaning any null values is important because it will allow us to analyse our data later on, as well as enable us to use machine learning packages.

In [22]:
bike_data_hour.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

We see that there are no null values, hence no further data cleaning needs to be done and we can proceed.

#### 1.1.2. Checking for Duplicates

We also check for duplicate rows based on all columns, to ensure that we have unique data points. Otherwise, this could potentially affect our accuracy later on.

In [23]:
# Selecting duplicate rows except first occurrence based on all columns
duplicate = bike_data_hour[bike_data_hour.duplicated()]
 
print("Duplicate Rows :")
 
# Print the Duplicated Dataframe
duplicate

Duplicate Rows :

Empty DataFrame
Columns: [instant, dteday, season, yr, mnth, hr, holiday, weekday, workingday, weathersit, temp, atemp, hum, windspeed, casual, registered, cnt]
Index: []

We can conclude that there are no duplicate data entries, since no duplicate rows have been printed.

#### 1.1.3. Dropping of Column `index`

Looking at the columns above, we notice that there is a column named `instant` that indexes the columns. However, it is not necessary as we already have the indexing of columns. Hence, we drop the column `instant` from the dataset.

In [24]:
bike_data_hour.drop(bike_data_hour.columns[[0]], axis=1, inplace=True)

### 1.2. Data Renaming & Reclassification of Data Type

#### 1.2.1. Data Renaming

Looking at the variable names in the dataset, we see that the names of some columns are not as intuitive. For example, the variable holiday indicates whether that particular recorded entry occurred over a holiday or not. We hence rename the variable holiday to is_holiday. 
We do this for the variables `dteday`, `holiday`, `workingday`, `weathersit`, `hum`, `mnth`, `cnt`, `hr` and `yr`.

In [25]:
# Renaming columns names to more readable names
bike_data_hour.rename(columns={
                        'dteday':'datetime',
                        'holiday':'is_holiday',
                        'workingday':'is_workingday',
                        'weathersit':'weather_situation',
                        'hum':'humidity',
                        'mnth':'month',
                        'cnt':'total_count',
                        'hr':'hour',
                        'yr':'year'},inplace=True)

#### 1.2.2. Changing Dtypes of Categorical Variable

Next, looking at the columns in the dataset, we notice that there are some categorical variables, namely, `season`, `is_holiday`, `weekday`, `weather_situation`, `is_workingday`, `month`, `year`, and `hour`. However, as can be seen with the above Dtypes, these variables currently had the Dtype int64. We hence rightfully change these variables into categorical variables.

In [26]:
###########################
# Setting proper data types
###########################
# date time conversion
bike_data_hour['datetime'] = pd.to_datetime(bike_data_hour.datetime)

# categorical variables
bike_data_hour['season'] = bike_data_hour.season.astype('category')
bike_data_hour['is_holiday'] = bike_data_hour.is_holiday.astype('category')
bike_data_hour['weekday'] = bike_data_hour.weekday.astype('category')
bike_data_hour['weather_situation'] = bike_data_hour.weather_situation.astype('category')
bike_data_hour['is_workingday'] = bike_data_hour.is_workingday.astype('category')
bike_data_hour['month'] = bike_data_hour.month.astype('category')
bike_data_hour['year'] = bike_data_hour.year.astype('category')
bike_data_hour['hour'] = bike_data_hour.hour.astype('category')

In [27]:
bike_data_hour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  datetime64[ns]
 1   season             17379 non-null  category
 2   year               17379 non-null  category
 3   month              17379 non-null  category
 4   hour               17379 non-null  category
 5   is_holiday         17379 non-null  category
 6   weekday            17379 non-null  category
 7   is_workingday      17379 non-null  category
 8   weather_situation  17379 non-null  category
 9   temp               17379 non-null  float64
 10  atemp              17379 non-null  float64
 11  humidity           17379 non-null  float64
 12  windspeed          17379 non-null  float64
 13  casual             17379 non-null  int64
 14  registered         17379 non-null  int64
 15  total_count        17379 non-null  int64
dtypes: category(8), datetime64[ns](1), float64(4), int64(3)
memory usage: 1.2 MB

#### 1.2.3. Renaming Categories for Categorical Variables

Next, we look at the newly changed categorical variables. They have been classified using integers, which is not as intuitive. To make our dataset clearer, we attach the corresponding names to each category, based on the dataset descriptions. By mapping out the different categories, we can better understand the general situation of the variable in relation to the number of users.
<br> The variables we will map are `weather_situation`, `season`, `year` and `weekday`.

**Categorical Variable `weather_situation`**
1. Clear, Few clouds, Partly cloudy, Partly cloudy
2. Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
3. Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
4. Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog

In [28]:
#Changing values of weather situation in numerical values to a specific condition weather situation
bike_data_hour["weather_situation"].replace({1:"Clear or Cloudy", 
                          2:"Misty or Foggy", 
                          3:"Snowy or Rainy",
                          4:"Stormy or Icy"}, inplace=True)

**Categorical Variable `season`**
1. Spring
2. Summer
3. Fall
4. Winter

In [29]:
#Changing values of season in numerical values to a specific condition season
bike_data_hour["season"].replace({1: "Spring", 
                          2: "Summer", 
                          3: "Fall",
                          4: "Winter"}, inplace=True)

**Categorical Variable `year`**

0. year 2011 
1. year 2012

In [30]:
bike_data_hour["year"].replace({0: "2011", 
                          1: "2012"}, inplace=True)

**Categorical Variable `weekday`**

0. Sunday 
1. Monday
2. Tuesday
3. Wednesday
4. Thursday
5. Friday
6. Saturday

In [31]:
bike_data_hour["weekday"].replace({0: "Sunday", 
                          1: "Monday",
                          2: "Tuesday",
                          3: "Wednesday",
                          4: "Thursday",
                          5: "Friday",
                          6: "Saturday"}, inplace=True)

### 1.3. De-Normalisation of the Normalised Data

We see from the dataset description that the variables `temp`, `atemp`, `humidity` and `windspeed` have been normalised according to the maximum value that was found in the dataset. We hence denormalise these variables to know the exact values of the individual data points in our datasets.  

However, we also note that de-normalising the data points like that may introduce skewness into our variables. This will be handled later on before we move on to building our model.

In [32]:
bike_data_hour.sample(10)

,datetime,season,year,month,hour,is_holiday,weekday,is_workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,total_count
4964,2011-07-30,Fall,2011,7,18,0,Saturday,0,Clear or Cloudy,0.88,0.7576,0.28,0.1940,92,207,299
1742,2011-03-18,Spring,2011,3,7,0,Friday,1,Clear or Cloudy,0.40,0.4091,0.66,0.1940,11,112,123
13210,2012-07-09,Fall,2012,7,15,0,Monday,1,Misty or Foggy,0.76,0.6818,0.45,0.2239,66,214,280
2861,2011-05-04,Summer,2011,5,3,0,Wednesday,1,Snowy or Rainy,0.42,0.4242,0.88,0.5224,0,1,1
8941,2012-01-13,Spring,2012,1,10,0,Friday,1,Clear or Cloudy,0.24,0.1970,0.44,0.4478,2,101,103
6988,2011-10-23,Winter,2011,10,19,0,Sunday,0,Clear or Cloudy,0.46,0.4545,0.77,0.0000,53,140,193
17235,2012-12-26,Spring,2012,12,0,0,Wednesday,1,Misty or Foggy,0.28,0.2727,0.65,0.2537,1,8,9
5512,2011-08-22,Fall,2011,8,14,0,Monday,1,Clear or Cloudy,0.74,0.6515,0.30,0.3881,88,137,225
4200,2011-06-28,Fall,2011,6,22,0,Tuesday,1,Clear or Cloudy,0.70,0.6515,0.70,0.2985,30,104,134
3782,2011-06-11,Summer,2011,6,12,0,Saturday,0,Clear or Cloudy,0.80,0.7576,0.55,0.2239,112,235,347

The formula used for the normalisation of data for the variables `temp` and `atemp` had been $x_1 = \frac{x_0 - \min(x)}{\max(x) - \min(x)}$. Hence, to de-normalise the data, we reverse the arithmetic by applying the formula $x_0 = x_1 \times (max(x)- min(x)) + min(x)$ to the entire column of data. <br>
As for the variables `humidity` and `windspeed`, we simply multiply them by the maximum value found throughout the dataset, based on the normalisation conversion done in the dataset description.

In [33]:
bike_data_hour['temp'] = bike_data_hour['temp'] * (39 + 8) - 8
bike_data_hour['atemp'] = bike_data_hour['atemp'] * (50 + 16) - 16
bike_data_hour['humidity'] = bike_data_hour['humidity'] * 100
bike_data_hour['windspeed'] = bike_data_hour['windspeed'] * 67

In [34]:
bike_data_hour.sample(10)

,datetime,season,year,month,hour,is_holiday,weekday,is_workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,total_count
7996,2011-12-04,Winter,2011,12,20,0,Sunday,0,Clear or Cloudy,8.92,7.0010,76.0,8.9981,8,116,124
11271,2012-04-19,Summer,2012,4,20,0,Thursday,1,Clear or Cloudy,18.32,18.9998,49.0,15.0013,52,352,404
16165,2012-11-11,Winter,2012,11,7,0,Sunday,0,Clear or Cloudy,6.10,5.0012,89.0,6.0032,12,56,68
2505,2011-04-19,Summer,2011,4,7,0,Tuesday,1,Misty or Foggy,16.44,17.0000,55.0,0.0000,22,166,188
8809,2012-01-07,Spring,2012,1,21,0,Saturday,0,Clear or Cloudy,12.68,13.0004,44.0,15.0013,22,118,140
2656,2011-04-25,Summer,2011,4,14,0,Monday,1,Clear or Cloudy,25.84,28.0022,54.0,15.0013,47,99,146
4558,2011-07-13,Fall,2011,7,20,0,Wednesday,1,Clear or Cloudy,24.90,28.0022,84.0,11.0014,61,281,342
3585,2011-06-03,Summer,2011,6,7,0,Friday,1,Clear or Cloudy,17.38,18.0032,45.0,16.9979,25,252,277
12983,2012-06-30,Fall,2012,6,4,0,Saturday,0,Misty or Foggy,21.14,20.0030,94.0,0.0000,3,15,18
2925,2011-05-06,Summer,2011,5,19,0,Friday,1,Snowy or Rainy,17.38,18.0032,52.0,23.9994,39,253,292

In [35]:
bike_data_hour.to_csv('preprocessed_hour.csv',index=False)